{
  "extends": ["prettier", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": ["error", "fb"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
